<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noexit.app.mapper.ReservationMapper">


	<select id="findBooker" resultType="com.noexit.app.model.ReservationDTO" parameterType="Long">
		SELECT P.PARTY_ID
		, C.CAFE_NAME
		, R.ROOM_NAME
		, TO_CHAR(RO.OPEN_AT, 'YYYY-MM-DD HH24:MI') AS OPEN_AT
		, P.USER_ID AS BOOKER_ID
		, UI.NAME AS BOOKER_NAME
		, SUBSTR(UI.PHONE,1,3)||'-'||SUBSTR(UI.PHONE,4,4)||'-'||SUBSTR(UI.PHONE,8,4) AS BOOKER_TEL
		, R.ROOM_IMG, R.PRICE
		, FN_MEMBER_COUNT(#{partyId}) AS TOTAL_MEMBER
		FROM PARTY P 
		    JOIN PARTY_ROOM PR
		    ON P.PARTY_ID = PR.PARTY_ID
		    JOIN RES_OPEN RO
		    ON PR.RES_OPEN_ID = RO.RES_OPEN_ID
		    JOIN ROOM R
		    ON RO.ROOM_ID = R.ROOM_ID
		    JOIN CAFE C
		    ON R.CAFE_ID = C.CAFE_ID
		    JOIN USER_INFO UI
		    ON P.USER_ID = UI.USER_ID
		WHERE P.PARTY_ID = #{partyId}
		AND P.USER_ID = #{userId}
	
	</select>
	

	<update id="createReservation" statementType="CALLABLE">
		{ CALL PRC_RESERVATION(#{userId}, #{partyId})}
	</update>

</mapper> 


















