<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noexit.app.mapper.UserMapper">

<insert id="insertAccount" parameterType="com.noexit.app.model.User">

	<selectKey keyProperty="userId" resultType="Long" order="BEFORE">
		SELECT  USER_ACCOUNT_SEQ.NEXTVAL
		FROM DUAL
	</selectKey>

	INSERT INTO USER_ACCOUNT (USER_ID, LOGIN_ID, PASSWORD, NICKNAME)
	VALUES (#{userId}, #{loginId}, #{password}, #{nickName})
</insert>


<insert id="insertInfo" parameterType="com.noexit.app.model.User">

	INSERT INTO USER_INFO (USER_ID, EMAIL, NAME, PHONE, GENDER, BIRTHDATE)
	VALUES (#{userId}, #{email}, #{name}, #{phone}, #{gender}, TO_DATE(#{birthDate}, 'YYYY-MM-DD'))
</insert>

<select id="countByLoginId" parameterType="string" resultType="int">
      SELECT COUNT(*) FROM USER_ACCOUNT WHERE LOGIN_ID = #{loginId}
</select>

<select id="selectByLoginId" parameterType="string" resultType="com.noexit.app.model.User">
      SELECT USER_ID, LOGIN_ID, PASSWORD, NICKNAME, CREATE_AT
      FROM USER_ACCOUNT
      WHERE LOGIN_ID = #{loginId}
</select>

<select id="countCafeByUserId" parameterType="long" resultType="int">
      SELECT COUNT(*) FROM CAFE WHERE USER_ID = #{userId}
</select>


</mapper>
